<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand disabled" href="#">Quick Navigation</a>
    <button class="navbar-toggler disabled" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subscribe">Subscribe Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/unsubscribe">Unsubscribe Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subscribers">Subscriber Management System Page(View All Subscribers)</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="jumbotron vertical-center">
                <h1 class="display-4">Welcome To Our Website!</h1>
                <p class="lead">If you would like us to provide you with personalized and tailored customer service, please join our subscription list.</p>
                <hr class="my-4">
                <p>Click the button below to navigate to our subscription registration page.</p>
                <a href = "/subscribe" class="btn btn-primary btn-lg" role="button">Go To Subscription Page</a>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>

</body>
</html>