<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorry To See You Go :(</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="jumbotron vertical-center">
                <h1 class="display-4">You have been unsubscribed from our subscription list.</h1>
                <p class="lead">If this was an accident or you have changed your mind or would like to return to the subscription page, click here.</p>
                <a href = "/subscribe" class="btn btn-primary btn-lg" role="button">Go To Subscription Page</a>
                <hr class="my-4">
                <p>If you are an admin and would like to manage all subscriptions, click here.</p>
                <a href = "/subscribers" class="btn btn-primary btn-lg" role="button">Manage Subscriptions</a>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>

</body>
</html>