<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You for Subscribing!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="jumbotron vertical-center">
                <h1 class="display-4">Thank You For Subscribing!</h1>
                <p class="lead">If you would like to return to the subscription page, click here.</p>
                <a href = "/subscribe" class="btn btn-primary btn-lg" role="button">Go To Subscription Page</a>
                <hr class="my-4">
                <p>If you have changed your mind and would like delete your subscription, click here.</p>
                <a href = "/unsubscribe" class="btn btn-primary btn-lg" role="button">Go To Delete Subscription</a>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>

</body>
</html>